[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
requests = "*"
click = "*"
ansible = "*"
"hs.admin.api" = {git = "https://dev.hostsharing.net/r/ansible/hs.admin.api.git"}

[dev-packages]

[requires]
python_version = "3.9"
