[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
requests = "*"
click = "*"
ansible = "==2.10.7"

[dev-packages]

[requires]
python_version = "3.7"
